<main>
  <h1>Hola Mundo</h1>
  <h2>{{ title }}</h2>

  <div>
    <input type="text" #titleTodo placeholder="Escribe la tarea" />
    <label>
      <input type="checkbox" #isCompleted />
      Completado
    </label>

    <button (click)="addTodo(titleTodo.value, isCompleted.checked)">
      Guardar
    </button>
  </div>

  <hr />

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>completed</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      @for (item of datos; track item.id) {
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.completed }}</td>
        <td><button (click)="deleteUser(item.id)">delete</button></td>
      </tr>
      }
    </tbody>
  </table>

  <p>@if (edad > 18) { es mayor } @else { es menor }</p>

  <ul>
    @for (fruta of frutas; track fruta) {
    <li>{{ fruta.includes("m") ? fruta : "no hay" }}</li>
    }
  </ul>

  <button (click)="incrementar()">dame click {{ count }}</button>

  <h3>{{ randomRecibido }}</h3>

  <hr />

  <app-contador
    [contador2]="count"
    (enviarMensajePadre)="recibirEvento($event)"
  />

  <hr />

  <pre>{{ code }}</pre>
</main>

<router-outlet />

<footer>soy un footer</footer>
